[Desktop Entry]
Type=Application
Name=Fix Monitor Resolution
Exec=/home/smiller/.config/autostart/fix-monitor-resolution.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
